.row {
    margin: 0;
}
/* Header - Jumbotron Section */
.header {
    margin-bottom: 0;
    background-image: url("../images/beach.gif");
    backdrop-filter: blur(13px);
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    text-align: center;
    z-index: 1;
}

#the {
    font-size: 26px;
}

/* Search Bar Section */
#summary {
    text-align: center;
}

/* Search panel */
.search-panel {
    max-height: 130px;
}

.summary {
    background-color: rgb(226, 75, 75);
}

#summary {
    padding-top: 50px;
    color: white;
}

#location {
    padding-top: 50px;
    padding-left: 30px;
}

/* Image Display Panel */
.image-panel {
    /* Temporary background holder */
    background-color: lightgrey;
    min-height: 300px;
    max-height: 500px;
}

.temp-display {
    background-color: navy;
}

.fun-fact {
    background-color: rgba(0, 0, 0, .1);
}

#fun-fact {
    padding: 30px 10px;
}

/* Location Info */
.info-panel {
    min-height: 300px;
}

.flight-display {
    background-color: lightblue;
}

.bottom-right {
    padding: 0;
}

.hotel-display {
    background-color: gray;
    min-height: 50%;
}
/* Map styles */
#map {
  height: 150px;
  width: 100%;
}
.map-display {
    background-color: lightgrey;
    min-height: 50%;
}

/* Footer Section */
.footer {
    height: 100px;
    background-color: rgb(103, 103, 248);
}
#copyright {
  text-align: center;
  padding-top: 40px;
}
