html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.row {
    margin: 0;
}


#loading {
  position: fixed; 
  display: none;   
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0; 
  background-image: url('../images/25.gif'); 
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2; 
  cursor: pointer; 
}

/* Header - Jumbotron Section */
.header {
    margin-bottom: 0;
    background-image: url("../images/beach.gif");
    backdrop-filter: blur(13px);
    /* Full height */
    height: 250px; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    font-family: 'Shrikhand';
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.title {
    text-align: center;
    z-index: 1;
    margin-top: 1%;
}

#the {
    font-size: 26px;
}

/* Main content */
.main-content {
    height: calc(100vh - 400px);
}

/* Search Bar Section */
#summary {
    text-align: center;
}

/* Search panel */
.search-panel {
    min-height: 130px;
}

.summary {
    background-color: rgb(226, 75, 75);
}

#summary {
    padding-top: 50px;
    color: white;
}

#location {
    padding-top: 50px;
    padding-left: 30px;
}


/* Image Display Panel */
/* Tabs */
#resultsTable:hover {
    cursor: pointer;
}

#listing,
#resultsTable {
    width: 100%;
}

#exTab1, #contentTabs {
    margin: 0;
    padding: 0;
}

#exTab1 {
    max-width: 100%;
}
/* ------ */

.tab-content {
    position: relative;
    height: 400px;
    overflow-y: scroll;
}
#accordion {
    position: relative;
    height: 100%;
    font-family: 'Poppins';
}


.image-panel {
    /* Temporary background holder */
    background-color: white;
    height: 400px;
}

/* .temp-display {
    background-color: navy;
} */
/* 
.fun-fact {
    background-color: rgba(0, 0, 0, .1);
} */

#fun-fact {
    padding: 30px 10px;
}

/* Location Info */
.info-panel {
    min-height: 250px;
}

.location-info {
    z-index: -1;
}

/* .flight-display {
    background-color: lightblue;
} */

.bottom-right {
    padding: 0;
}

.hotel-display {
    background-color: white;
    height: 100%;
    position: relative;
}
/* Map styles */
#map {
  min-height: 300px;
  width: 100%;
}

.map {
    padding: 0 5px;
    height: 100%;
    max-height: 300px;
}

.map-display {
    background-color: lightgrey;
    border: 1px solid gray;
}

/* Footer Section */
.footer {
    height: 150px;
    background-color: rgb(103, 103, 248);
    bottom: 0px;
    width: 100%;
    position: absolute;
}

#copyright {
  text-align: center;
  padding-top: 40px;
}

.devs {
    text-align: center;
}

.devs p {
    color: white;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}
/* styling for dynamic images in accordion */
.resImg {
    width: 250px;

}